services:
  app:
    build: .
    container_name: dummy_app
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - conditions: service_healthy
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    networks:
      - elsa_network

  redis:
    image: "redis:7.0-alpine"
    container_name: dummy_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - elsa_network

volumes:
  redis_data:

networks:
  elsa_network: