apiVersion: v1
kind: Service
metadata:
  name: counter-service
spec:
  selector:
    app: counter-app
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
      nodePort: 30007
  type: NodePort
