apiVersion: v1
kind: Service
metadata:
  name: counter-service
  namespace: lab
spec:
  type: NodePort
  selector:
    app: counter-app
  ports:
    - name: http
      port: 80
      targetPort: 8080
      nodePort: 30080
