apiVersion: v1
kind: Service
metadata:
  name: counter-service
  labels:
    app: counter
spec:
  type: NodePort
  selector:
    app: counter
  ports:
    - name: http
      port: 80
      targetPort: 5000
      nodePort: 30080
